@import "tailwindcss";

@theme {
  --color-white: oklch(1 0 0);
  --color-gray: oklch(0.95 0 0);
  --color-black: oklch(0 0 0);
  --color-gray-dark: oklch(0.21 0.01 250);
  --color-gray-secondary: oklch(0.45 0 0);
  --color-green:oklch(0.60 0.34 140);
  --color-green-hover: oklch(0.52 0.34 140);
  --color-lime: oklch(0.60 0.90 140);
  --color-lime-hover: oklch(0.52 0.90 140);
  --color-blue: oklch(0.60 0.34 240);
  --color-red: oklch(0.60 0.34 0);
  --radius-all: 2.5rem;
  --radius-menu: 3.13rem;
  --spacing-202: 202px;
  --spacing-184: 184px;
}
.zoom-80 {
  zoom: 0.8;
}
.zoom-75 {
  zoom: 0.75;
}
